.attraction {
  margin: 0 32px;

  @media screen and (max-width: 768px) {
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin: 48px 0 32px;
    font-size: 32px;
    line-height: 38px;

    @media screen and (max-width: 768px) {
      display: block;
      width: 100%;
      max-width: 342px;
      margin: 16px 0 32px;
    }
  }
  .attraction-form {
    max-width: 720px;
    grid-gap: 16px;
    display: grid;
    grid-template-columns: 40% 58%;
    grid-template-rows: 1fr 0.2fr;
    grid-template-areas:
      "image text"
      ". button";

    @media screen and (max-width: 768px) {
      width: 100%;
      max-width: 342px;
      display: grid;
      grid-gap: 8px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, max-content);
      grid-template-areas:
        "image"
        "text"
        "button";
    }

    .fake-input-file {
      grid-area: image;
      width: 100%;
      max-width: 288px;
      height: 212px;
      border-radius: 8px;
      border: 2px solid $gray-200;
      position: relative;
      overflow: hidden;
      display: inline-block;

      &__image {
        width: 288px;
        height: 212px;
        display: none;

        // display: inline-block;
        border-radius: 8px;
        object-fit: cover;
        object-position: 50% 50%;
        vertical-align: middle;
      }
      &__image-input {
        width: 100%;
        height: 100%;
        font-size: 0;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
      }
      &__placeholder {
        color: $gray-300;
        font-size: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
      }
    }

    .inputs-text {
      grid-area: text;
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-self: center;

      .inputs-text__title {
        max-width: 328px;
        height: 56px;
        border-radius: 4px;
        border: solid 2px $gray-200;
        padding: 16px;

        @media screen and (max-width: 768px) {
          margin-top: 8px;
          max-width: 342px;
          width: 100%;
        }

        &::placeholder {
          color: $gray-300;
          font-size: 16px;
          line-height: 24px;
        }
      }

      .inputs-text__description {
        max-width: 416px;
        height: 136px;
        border-radius: 4px;
        border: solid 2px $gray-200;
        padding: 38px 20px;
        resize: none;

        &::placeholder {
          color: $gray-300;
          font-size: 16px;
          line-height: 24px;
        }

        @media screen and (max-width: 768px) {
          max-width: 342px;
          width: 100%;
        }
      }
    }

    .attraction-form__submit {
      grid-area: button;
      background: $pink;

      border: none;
      // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 8px;

      width: 120px;

      height: 56px;
      justify-self: end;

      color: $white;
      font-weight: 700;
      font-size: 16px;

      transition: background-color 0.2s linear;

      &:hover {
        background: $pink-500;
      }
      &:active {
        background: $pink;
      }

      @media screen and (max-width: 768px) {
        max-width: 342px;
        width: 100%;
      }
    }
  }
}
