.attractions-result {
  margin: 60px 32px 192px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1024px) {
    align-items: center;
    margin: 68px 32px;
  }
  @media screen and (max-width: 768px) {
    margin: 68px 16px 32px;
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 32px;

    @media screen and (max-width: 1024px) {
      align-self: start;
    }
    @media screen and (max-width: 768px) {
      align-self: center;
      width: 100%;
      max-width: 342px;
      padding-left: 10px;
    }
  }

  &__list {
    display: grid;
    grid-gap: 16px 24px;
    grid-template-columns: 49% 49%;
    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr;
      grid-gap: 24px;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      max-width: 342px;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    list-style: none;
    max-width: 576px;
    height: 212px;

    background: $white;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 8px;

    @media screen and (max-width: 1024px) {
      max-width: 686px;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      height: 424px;
    }
  }
  &__image {
    max-width: 288px;
    height: 212px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    @media screen and (max-width: 1024px) {
      max-width: 342px;
    }

    img {
      display: none;
      width: 288px;
      height: 212px;
      display: inline-block;
      border-radius: 8px;
      object-fit: cover;
      object-position: 50% 50%;
      vertical-align: middle;

      @media screen and (max-width: 1024px) {
        width: 342px;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 342px;
      }
    }
  }

  &_text {
    height: 164px;
    margin: 24px;
    overflow-y: auto;
    max-width: 240px;
    // width: 240px;

    @media screen and (max-width: 1024px) {
      margin: 24px 50px;
    }
    @media screen and (max-width: 280px) {
      margin: 24px 24px;
    }

    h3 {
      font-weight: 700;
      font-size: 24px;
      min-height: 60px;
      margin-bottom: 8px;
      line-height: 28px;

      @media screen and (max-width: 280px) {
        min-height: 24px;
      }
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $gray-300;
    }
  }
}
