h2,
h3,
button {
  font-family: "Poppins", sans-serif;
}

input,
textarea,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

body,
textarea,
div {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: $gray-200;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $gray-300;
    border-radius: 20px;
    border: 4px solid $gray-300;
  }
}

button {
  cursor: pointer;
}
